{% extends "main.html" %}


    {% block title_block %} title form {% endblock %}
        
        <h1>Flask with SQL</h1>

        {% block nav_block %}
        <nav>
            <ul>
                <li><a href="/" class="selected" >One</a></li>
                <li><a href="/two">Two</a></li>
                <li><a href="/three">Three</a></li>
            </ul>
        </nav>
        {% endblock %}


        
        {% block main_block %}

            <h2>Main Form</h2>

            <form action="{{ url_for('index') }}" method="POST">

                <div class="form-container">

                    <label for ="name">Name: </label>

                    <input type="text" name="name" title="Form name" id="Form_name" aria-label="Form name" class="" placeholder="placeholder name" alt="form_name" />

                </div>
                
                <div class="form-container">

                    <label for="age">Age: </label>
                    <input id="age" name="age" title="Form age" type="text" id="form_age" arial-label="Form age" class="" placeholder="placeholder age" alt="form_age" />

                </div>        

                <div class="form-container">

                    <label for="url"><i class="fas fa-camera"></i>URL: </label>

                    <input id="url" name="url" type="text" placeholder="placeholder url">

                </div>

                <fieldset>
                    <div>
                        <legend>Radio Buttons</legend>
                        <input id="yes" type="radio" name="radio_group" class="" aria-label="radio_group" value="Yes">
                        <i class="fas fa-check-circle"></i>

                        <label for="yes">Yes</label>
                        <input id="no" type="radio" name="radio_group" class="" aria-label="radio_group" value="No">
                        <i class="fas fa-check-circle"></i>

                        <label for="no">No</label>
                        <input id="unkown" type="radio" name="radio_group" class="" aria-label="radio_group" value="Unknown">
                        <i class="fas fa-check-circle"></i>
                        <label for="unknown">Unknown</label>
                    </div>
                </fieldset>

                <fieldset id="descr">
                    <div>
                        <legend>Description: </legend>

                        <label for="description"></label>

                        <textarea name="description" id="description" cols="30" rows="10" placeholder="placeholder description.."></textarea>

                    </div>

                </fieldset>

                <fieldset>
                    <div>
                        <legend>Checkbox Group</legend>
                        <input id="true" type="checkbox" name="checkbox_group" value="Yes">
                        <i class="fas fa-check-circle"></i>
                        <label for="true">Yes</label>
                        <input id="false" type="checkbox" name="checkbox_group" value="No">
                        <i class="fas fa-check-circle"></i>
                        <label for="false">No</label>
                        <input id="na" type="checkbox" name="checkbox_group" value="Unknown">
                        <i class="fas fa-check-circle"></i>
                        <label for="na">Unknown</label>
                    </div>
                </fieldset>

                <!-- TODO: finish up with 2 text fields -->



                <div id="form-buttons">

                    <button type="reset">Cancel</button>            
                    <button type="submit">Submit</button>
                
                </div>

            </form>

{% endblock %}
