
// config variables
$main-col-nav-selected: black;
$main-col-nav: #000000;

$main-col-one: white;
$main-col-two: #000000;

// fonts
$font-main: arial;
$font-main-one: arial;
$font-main-two: tyrone;


// breakpoints

$form-md: 540px;