{% extends "main.html" %}


    {% block title_block %} title 404 {% endblock %}   

    {% block nav_block %} 
        <nav>
            <ul>
                <li><a href="/" class="" >One</a></li>
                <li><a href="/two">Two</a></li>
                <li><a href="/three">Three</a></li>
            </ul>
        </nav>
    {% endblock %}   

    {% block main_block %}

        <h2>404 Error</h2>

        <div class="name_data_single">

            <h3>Error 404</h3>

            <p>Please try again!  </p>

        </div>

    {% endblock %}

